
*  {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    user-select: none;

}

body {

    text-align: center;
    min-height: 100vh;
    width: 100vw;
    background: url(../image/z.jpg) no-repeat center/cover;

    
    overflow: hidden;
    

    #endScreen {

      position: absolute;
      width: 100%;
      height:100%;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.452);
      text-transform: uppercase;
      cursor: pointer;
      z-index: 3;
      visibility: hidden;
      opacity: 0;
      transition: 0.1s;
  
        .gameOver {

            margin: 10rem auto 0;
            width: 100%;
            
            line-height: 9rem;
            font-size: 5rem;
            background: rgba(0, 0, 0, 0.9);
            border-top: 5px solid #ff0000;
            border-bottom: 5px solid #ff0000;
            color : rgb(197, 197, 197);
            box-shadow: 0 10px 15px black;
            
        }

        .youWin {
            
            margin: 7rem auto 0;
            width: 70%;
            line-height: 9rem;
            color: rgb(60, 0, 255);
            background: rgba(255, 166, 0, 0.651);
            box-shadow: 0 10px 15px black;
            font-size: 4rem;
            padding: 1rem;
            text-shadow: 4px 2px 1px rgba(211, 4, 4, 0.808);
    
            span {

            color: rgb(233, 0, 0);
            font-weight: bold;
            text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.808);

            }
        }
  
    }


    #start {

        margin: 3rem 0 0 0;
        padding: 1rem 2rem;

        width: 70%;
        background: rgba(252, 49, 49, 0.699);
        border-radius: 5px;
        font-size: 20px;
        color: #eee;
        border: 1px rgba(128, 128, 128, 0.404) solid;
        box-shadow: 1px 1px 1px #333;
        transition: 0.3s ease;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        //animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    
        &:hover {

            box-shadow: 1px 1px 1px #333, inset 0 0 0 40px #ff0000c5;
            color: black;
            background: rgba(250, 136, 43, 0.966);
            transform: scale(1.1);

        }
    }
  

    .scoreboard {

        color: #eee;
        margin-bottom: 3rem;

        & h1 {

            font-size: 50px;
            letter-spacing: 30px;

            &::first-letter {

                color: #ff0000;

                font-size: 80px;

            }

        }
  
        .kills {

            font-size: 2rem;
            margin: 0 0 1rem 0;
    
            #score {

            font-weight: bold;
            font-size: 3rem;
            color: #ff0000e1;

            }
        }

        .confinement {
            
            font-size: 1.6rem;
    
            #zombies {

            color: #ff0000e1;

            }
        }
    }

    #canvas {

        cursor: crosshair;
        border: none;
        border-radius: 15px;
        border-top: 1px rgba(66, 0, 0, 0.561) solid;
        border-left: 1px rgba(66, 0, 0, 0.561) solid;
        background: linear-gradient(135deg,#ff00006b 0%, #ff0000da 100%);
        box-shadow: 0 10px 15px black;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        height: 500px;
        width: 500px;
  
        .virus {

            position: absolute;
            transform: translate(-50%, -50%);
            height: var(--y);
            width: var(--x);
            --scaler: 1;
            animation: virusAnim 14s forwards;

            &:hover {

                --scaler: 1.03;

            }

            &:active {

                --scaler: 0.97;

            }
        }

        @keyframes virusAnim {

            from {
            transform: translate(0%, 0%) scale(var(--scaler));
            }

            to {
            transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
            }

        }
    }
}



// INTRODUCTION
.blood {

    background-image: url(../image/hand.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
                                
    transition: .3s;

    color: black!important;

    & h1 {

        color: black!important;
        text-shadow: 0 1px 20px white; 
        background: rgba(51, 51, 51, 0.089);

    }

    & .kills {

        color: black!important;
        font-weight: 900;
        text-shadow: 0 1px 20px white; 
        background: rgba(51, 51, 51, 0.089);

    }

    & .confinement {

        color: black!important;
        font-weight: 900;
        text-shadow: 0 1px 20px white; 
        background: rgba(51, 51, 51, 0.089);

    }

    & #canvas {

        background: linear-gradient(135deg,#ff000025 0%, #ff000056 100%);
        border: none;
        width: 100%;

    }

}
  
  